.mat-form-field {
  display: block;
  flex-grow: 1;
  &:not(:first-child) {
      margin-left: 10px;
  }
}

.flex-container {
  display: flex;
  @media (max-width: 520px) {
    display: block;
  }
}

dp-date-picker.dp-material ::ng-deep {
  .dp-picker-input {
    background: none;
    border: none;
    font-size: 16px;
    height: 17px;
  }
}


