mat-card {
  background: white;
  color: #4a4a4a;
}

mat-card-actions {
  @media (min-width: 520px) {
    position: absolute;
  }
  position: static;
  right: 20px;
  top: 10px;
 
}

.card-title {
  display: flex;
  mat-icon {
    margin-right: 10px;
  }
}

mat-card-subtitle.event-name {
  font-size: 16px;
  font-weight: bolder;  
  margin-top: 15px;
}

.mat-card-footer {
  margin: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

.action-icon {
  color: darkgray;
}

.event-card {
  background-color: aliceblue;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 10px;
  }
  &.meeting {
    background-color: ivory;
  }
  .card-actions {
    opacity: 0.3;
    transition: opacity ease-in 0.3s;
  }
  &:hover {
    .card-actions {
      opacity: 0.8;
    }
  }
}


