.address-link {
  margin: 8px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

mat-card-content {
  display: flex;
  @media (max-width: 500px) {
    display: block;
  }
}

.participants-label {
  padding: 10px 10px 10px 0;
  display: inline-block;
}
