.create-buttons {
  display: flex;
  justify-content: flex-end;
  .create-button {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    @media (max-width: 520px) {
      width: auto;
      padding: 9px 5px;
    }
  }
}
