<ng-container [ngSwitch]="event.type">
  <app-call-item *ngSwitchCase="EventType.CALL"></app-call-item>
  <app-meeting-item *ngSwitchCase="EventType.MEETING"></app-meeting-item>
</ng-container>

<mat-card class="event-card">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ event.name }}
    </p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button (click)="editHandler.emit(event.id)">
      <mat-icon class="action-icon">edit</mat-icon>
      Edit
    </button>
    <button mat-raised-button (click)="deleteHandler.emit(event.id)">
      <mat-icon class="action-icon">delete</mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>
