
<mat-card class="event-card">
  <ng-container [ngSwitch]="event.type">
    <app-call-item *ngSwitchCase="EventType.CALL" [event]="event"></app-call-item>
    <app-meeting-item *ngSwitchCase="EventType.MEETING" [event]="event"></app-meeting-item>
  </ng-container>
  <mat-card-actions class="card-actions">
    <button mat-raised-button (click)="editHandler.emit(event.id)">
      <mat-icon class="action-icon">edit</mat-icon>
      Edit
    </button>
    <button mat-raised-button (click)="deleteHandler.emit(event.id)">
      <mat-icon class="action-icon">delete</mat-icon>
      Delete
    </button>
  </mat-card-actions>
  <mat-card-footer>{{dateString(event.eventDate)}}</mat-card-footer>
</mat-card>
