mat-card {
  background: white;
  color: #4a4a4a;
}

mat-card-actions {
  position: absolute;
  right: 20px;
  top: 10px;
}

.mat-card-footer{
  margin: 0;
}

.event-card {
  margin-bottom: 10px;
}

.action-icon {
  color: darkgray;
}

.event-card {
  .card-actions {
    opacity: 0.3;
    transition: opacity ease-in 0.3s;
  }
  &:hover {
    .card-actions {
      opacity: 0.8;
    }
  }
}

app-call-item,
app-meeting-item {
  display: flex;
}
