<mat-dialog-title
  >
  <p class="dialog-title-text">Create {{ type$ | async }}</p>
  <div class="icon-wrapper">
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>
</mat-dialog-title>
<div class="editor-container">
  <app-form-manager
    [event]="event$ | async"
    [type]="type$ | async"
    [submitText]="getSubmitText(type$ | async)"
    (submitData)="submitData($event)"
  >
    <app-basic-event-form #formContent></app-basic-event-form>
    <app-call-form #formContent></app-call-form>
  </app-form-manager>
</div>
